<form action='/gift-guide/new' method='post'>
    <% if (images.length == 0) { %>
        <img src='https://www.dsm.com/food-specialties/en_US/markets/dairy/cheddar-cheese.thumb.800.480.png'>
    <% } else { %>
       <img src='<%=images[0].urls.full%>'>
    <% } %>
    <p>Image Search: <input id='search-input' type='text' value='cheese' name='imgSearchTerm'></p>
    <input class='submit' type='submit' value='Search'>
    <input class='submit' id='img-update' type='submit' value='Update Image URL'>
</form>