<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/public/css/index_style.css"> 
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <%-include('../partials/show.ejs') %>
</body>
</html>