<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../public/scripts/script.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/index_style.css"> 
    <title>Gift Guide</title>
</head>
<body>
    <h1>Welcome to the Gift Guide</h1>
    <% product.forEach(element => { %> 
        <a href='/gift-guide/<%= element._id %> '><h3><%= element.name %></h3></a>
    <% }) %>   
    <form>
        <select id='holiday-selector'>
            <% holiday.forEach(element => { %> 
                <option><%= element %></option>
            <% }) %>
        </select>
        <input id='submit-holiday' type='submit' value='Submit'>
    </form>

</body>
</html>