<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../public/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/edit_style.css">
    <script defer src='/public/scripts/api.js'></script> 
    <title>Document</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='products-container'>
        <div class='product'>
            <form action='/gift-guide' method='post'>
                <p>Name: <input type='text' name='name' placeholder='Name'></p>
                <p>Holiday: <input type='text' name='holiday' placeholder='Holiday'></p>
                <p>Recipient: <input type='text' name='recipient' placeholder='Recipient'></p>
                <p>Price: <input type='text' name='price' placeholder='Price'></p>
                <p>Quantity: <input type='text' name='quantity' placeholder='Quantity'></p>
                <p>Product URL: <input type='text' name='productURL' placeholder='Product URL'></p>
                <img src='https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fderricos.com%2Fwp-content%2Fuploads%2F2020%2F07%2FAdobeStock_357639056-scaled.jpeg&f=1&nofb=1'>
                <p>Image Search: <input id='search-input' type='text' value='cheese'></p>
                <input id='img-search' type='submit' value='Search'>
                <input id='img-next' type='submit' value='Next'>
                <input id='img-return' type='submit' value='Return'>
                <p>Image URL: <input id='imgURL' type='text' name='imgURL' placeholder='Image URL'></p>
                <p>In Stock: <input type='checkbox' name='inStock'></p>
                <p>Purchased: <input type='checkbox' name='purchased'></p>
                <input type='submit' name='Submit'>
            </form>
        </div>
    </div>
</body>
</html>