<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="../public/scripts/edit.js"></script>
    <title>Gift Guide</title>
</head>
<body>
    <h1>Working!</h1>
    <h3><%= product.name %></h3>
    <form action='/gift-guide/<%= product._id %>/edit'>
        <input type='submit' value='Edit' id='edit'>
    </form>
    <form action='/gift-guide/<%= product._id %>?_method=delete' method='post'>
        <input type='submit' Value='Delete'>
    </form>
</body>
</html>